<div class="panel panel-default">
    <div class="panel-heading">
        Bank account
    </div>
    <div class="panel-body">
        
        <form id="createUserFormStep2" class="form-horizontal" role="form">
            
            <div class="form-group">
                <label for="bankAccountsIban" class="col-sm-4 control-label">IBAN</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="bankAccountsIban" name="iban" placeholder="IBAN">
                    <span class="help-block hidden"></span>
                </div>
            </div>
            <div class="form-group">
                <label for="bankAccountsBic" class="col-sm-4 control-label">BIC</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="bankAccountsBic" name="iban" placeholder="BIC">
                    <span class="help-block hidden"></span>
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10 text-right">
                    <button id="submitForm" type="button" class="btn btn-primary">
                        <i class="glyphicon glyphicon-ok"></i>
                        Save
                    </button>
                </div>
            </div>
            
        </form>
        
    </div>
</div>